<div *ngIf="ready==false">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="ready == true" class="form-group">
  <label for="comment">Fix Message:</label>
  <textarea class="form-control" rows="5" id="comment" name="text" [(ngModel)]="fixMessageString"></textarea>
  <app-fix-message-container [dataDictionary]="dataDictionary" [fixMessagesString]="fixMessageString">
  </app-fix-message-container>
</div>