<div *ngIf="ready==false">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="appcontainer">

  <div>
    <app-header></app-header>
  </div>

  <div *ngIf="ready == true" class="form-group appbackground">
    <label class="pastefixmessage" for="comment">Paste Your Fix Message Below</label>
    <div>
      <button type="button" (click)="onClickSample()" class="sample">Sample</button>
    </div>
    <div>
      <textarea class="fixmessagetextarea form-control" rows="5" id="comment" name="text"
        [(ngModel)]="fixMessageString"></textarea>
    </div>

    <div class="appbackground">
      <app-fix-message-container [dataDictionary]="dataDictionary" [fixMessagesString]="fixMessageString">
      </app-fix-message-container>
    </div>
  </div>

</div>
