.fixMessageHeader
  background-color:#e6e6e6

.fixMessageTrailer
  background-color:#e0e0f1
      
.outgoingHeaderLogDirection
  color:#fff
  background-color:#adaae0
  border-radius: 15px
  

.incomingHeaderLogDirection
  color:#fff
  background-color:#f0ad4e
  border-radius: 15px

.sessionInfo
  background-color:#ffe1b6
  color: black
