<div *ngIf="fixMessages != undefined && fixMessages.length > 0" class="messageContainer">
    <div>
        <button type="button" (click)="onClickCopyAll()" class="operationbutton">Copy
            All</button>

        <button type="button" (click)="onClickCollapseAll()" class="operationbutton">Collapse
            All (+)</button>
        <button type="button" (click)="onClickExpandAll()" class="operationbutton">Expand
            All (-)</button>
    </div>
    <div *ngFor="let fixMessage of fixMessages" [class]="selectMessgeStyleClass(fixMessage)">
        <app-fix-message-accordion [fixMessage]="fixMessage"></app-fix-message-accordion>
    </div>
</div>